<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.101.0">
    <title>Signup</title>

    <!-- CSS only -->
    <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous"

    
  />
<link rel="shortcut icon" href="#">
<link href="css/styles.css" rel="stylesheet">

<meta name="theme-color" content="#712cf9">
    
    <!-- Custom styles for this template -->
    <!-- <link href="signin.css" rel="stylesheet"> -->
  </head>
  <body class="text-center">
    
<main class="form-signin w-100 m-auto">
    <img class="mb-4 doggo"  src="images/doggo1.png" alt="" width="80" height="100">

<%    pending.forEach(function(item){  %>
    <div id="pawdiv">
        <s name="pending"><%= item.Username2 %></s>
    </div>
  <%    })   %>
</main>
  </body>
</html>